<div id="portfolio">
  <div class="portfolio_header">
    <div class="portfolio_text">Previous Projects</div>
    <ul class="portfolio_signatures">
      <li>
        <a routerLink="/"><fa-icon [icon]="faMinus"></fa-icon></a>
      </li>
      <li>
        <a href='#'><input [className]="active" type="text" value="YegiZavr.com"></a>
        <a  (click)="active = !active"><fa-icon [icon]="faShareAlt"></fa-icon></a>
      </li>
      <li>
        <fa-icon [icon]="faBatteryHalf" style="color: orange"></fa-icon>
      </li>
    </ul>
  </div>
  <div class="container_portfolio">
    <div class="portfolio_block">
      <div class="block_bg">
        <span>Portfolio</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg">
        <span>Page making</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg">
        <span>BootStrap3</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg">
        <span>Incoming...</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg">
        <span>Incoming...</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
    <div class="portfolio_block">
      <div class="block_bg">
        <span>Incoming...</span>
      </div>
      <div class="block_footer">
        <div><a href="#">
          <fa-icon [icon]="faEye"></fa-icon>
        </a></div>
        <span><a href="#"><fa-icon [icon]="faBars"></fa-icon></a></span>
      </div>
    </div>
  </div>
</div>

